#chartdiv .jqvmap-zoomin, #chartdiv .jqvmap-zoomout{
  width: 15px;height: 17px;
}
.news-section .MuiListItem-root:hover{
  background-color: #2a2e32;
}

.MD0{
 margin: 0px; 
}
.PD16{
padding:16PX; 
}
.MP0{
  padding-left: 0px !important;
  padding-right: 0px!important;
}

.sidebar {
    background: #1f2327;
    color: #fff;
    margin-top: 19px
  }

  .navbar-toggle {
    z-index: 1;
  }

  .navbar-form {
    margin-top: 0px;
  }

  .top-menu {
    width: auto;
    margin: auto;
    float: inherit;
  }

  .placeholder {
    background: #1f2327;
    border-radius: 10px;
    padding-bottom: 15px;
  }

  .new_bg {
    background: #33363a;
    padding: 5px;
    color: #FFF;
    border-radius: 4px;
  }

  .news-head {
    margin-bottom: 20px;
  }

  .nav-sidebar {
    padding: 10px 10px 0px 10px;

  }

  .news-section hr {
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 1px solid #8d8f91;
  }

  .progress {
    height: 4px;
    margin: 0 40px 10px;
    /* margin-bottom: 20px; */
    overflow: hidden;
    background-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }

  .search-bar {
    margin: 10px 5px;
    background: #1f2327;
    border: none;
    padding: 6px;
    border-radius: 6px;
    min-width: 385px;
    width: 100%;

  }

  .navbar-inverse {
    background: #171a1f;
  }

  .profile-logout {
    padding: 15px 15px 15px 0px;
  }

  .profile-logout a {
    color: #fff;
  }

  .btn-dark,
  .btn-light {
    color: #fff;
    background-color: #0f65ff;
    border-color: #2e6da4;
    border-radius: 40px;
    margin: 0px 5px;
    padding: 6px 26px;
  }

  .btn-light {
    background-color: #171a1f;
    border: none;
  }

  .btn-dark:hover,
  .btn-light:hover {
    color: #fff;
  }

  .set-pd-one {
    padding: 45px 0;
  }

  .Countries-section h5 {
    margin: 0 40px 10px;
    text-align: left;
    color: #fff;
    font-size: 16px;
  }


  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  .animated-background {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: #f6f7f8;
    background: linear-gradient(to right, #171a1f 8%, #0a0c0f 18%, #171a1f 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }

  .background-masker {
    background: #1f2327;
    position: absolute;
  }

  /* Every thing below this is just positioning */

  .background-masker.header-top,
  .background-masker.header-bottom,
  .background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
  }

  .background-masker.header-left,
  .background-masker.subheader-left,
  .background-masker.header-right,
  .background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }

  .background-masker.header-bottom {
    top: 18px;
    height: 6px;
  }

  .background-masker.subheader-left,
  .background-masker.subheader-right {
    top: 24px;
    height: 6px;
  }


  .background-masker.header-right,
  .background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
  }

  .background-masker.subheader-right {
    left: 230px;
  }

  .background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
  }

  .background-masker.content-top,
  .background-masker.content-second-line,
  .background-masker.content-third-line,
  .background-masker.content-second-end,
  .background-masker.content-third-end,
  .background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }

  .background-masker.content-top {
    height: 20px;
  }

  .background-masker.content-first-end,
  .background-masker.content-second-end,
  .background-masker.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }

  .background-masker.content-second-line {
    top: 68px;
  }

  .background-masker.content-second-end {
    left: 420px;
    top: 74px;
  }

  .background-masker.content-third-line {
    top: 82px;
  }

  .background-masker.content-third-end {
    left: 300px;
    top: 88px;
  }


 .sidebar {
            background: #1f2327;
            color: #fff;
          }

          .navbar-toggle {
            z-index: 1;
          }

          .navbar-form {
            margin-top: 0px;
          }

          .top-menu {
            width: auto;
            margin: auto;
            float: inherit;
          }

          .placeholder {
            background: #1f2327;
            border-radius: 10px;
            padding-bottom: 15px;
          }

          .new_bg {
            background: #33363a;
            padding: 5px;
            color: #FFF;
            border-radius: 4px;
          }

          .news-head {
            margin-bottom: 20px;
          }

          .nav-sidebar {
            padding: 10px 10px 0px 10px;

          }

          .news-section hr {
            margin-top: 10px;
            margin-bottom: 0px;
            border-top: 1px solid #8d8f91;
          }

          .progress {
            height: 4px;
            margin: 0 40px 10px;
            /* margin-bottom: 20px; */
            overflow: hidden;
            background-color: transparent;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          }

          .search-bar {
            margin: 10px 5px;
            background: #1f2327;
            border: none;
            padding: 6px;
            border-radius: 6px;
            min-width: 385px;
            width: 100%;

          }

          .navbar-inverse {
            background: #171a1f;
          }

          .profile-logout {
            padding: 15px 15px 15px 0px;
          }

          .profile-logout a {
            color: #fff;
          }

          .btn-dark,
          .btn-light {
            color: #fff;
            background-color: #0f65ff;
            border-color: #2e6da4;
            border-radius: 40px;
            margin: 0px 5px;
            padding: 6px 26px;
          }

          .btn-light {
            background-color: #171a1f;
            border: none;
          }

          .btn-dark:hover,
          .btn-light:hover {
            color: #fff;
          }

          .set-pd-one {
            padding: 45px 0;
          }

          .Countries-section h5 {
            margin: 0 40px 10px;
            text-align: left;
            color: #fff;
            font-size: 16px;
          }


          @keyframes placeHolderShimmer {
            0% {
              background-position: -468px 0;
            }

            100% {
              background-position: 468px 0;
            }
          }

          .animated-background {
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-name: placeHolderShimmer;
            background: #f6f7f8;
            background: linear-gradient(to right, #171a1f 8%, #0a0c0f 18%, #171a1f 33%);
            background-size: 800px 104px;
            height: 96px;
            position: relative;
          }

          .background-masker {
            background: #1f2327;
            position: absolute;
          }

          /* Every thing below this is just positioning */

          .background-masker.header-top,
          .background-masker.header-bottom,
          .background-masker.subheader-bottom {
            top: 0;
            left: 40px;
            right: 0;
            height: 10px;
          }

          .background-masker.header-left,
          .background-masker.subheader-left,
          .background-masker.header-right,
          .background-masker.subheader-right {
            top: 10px;
            left: 40px;
            height: 8px;
            width: 10px;
          }

          .background-masker.header-bottom {
            top: 18px;
            height: 6px;
          }

          .background-masker.subheader-left,
          .background-masker.subheader-right {
            top: 24px;
            height: 6px;
          }


          .background-masker.header-right,
          .background-masker.subheader-right {
            width: auto;
            left: 300px;
            right: 0;
          }

          .background-masker.subheader-right {
            left: 230px;
          }

          .background-masker.subheader-bottom {
            top: 30px;
            height: 10px;
          }

          .background-masker.content-top,
          .background-masker.content-second-line,
          .background-masker.content-third-line,
          .background-masker.content-second-end,
          .background-masker.content-third-end,
          .background-masker.content-first-end {
            top: 40px;
            left: 0;
            right: 0;
            height: 6px;
          }

          .background-masker.content-top {
            height: 20px;
          }

          .background-masker.content-first-end,
          .background-masker.content-second-end,
          .background-masker.content-third-end {
            width: auto;
            left: 380px;
            right: 0;
            top: 60px;
            height: 8px;
          }

          .background-masker.content-second-line {
            top: 68px;
          }

          .background-masker.content-second-end {
            left: 420px;
            top: 74px;
          }

          .background-masker.content-third-line {
            top: 82px;
          }

          .background-masker.content-third-end {
            left: 300px;
            top: 88px;
          }



/* Tanisha css */

.sidebar-details::-webkit-scrollbar {
  width: 1em;
  }
  
  .sidebar-details::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  .sidebar-details::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: 1px solid #222;
  }


.main-bg{
  background: #fff; 
}

.sidebar-details{
  background: #DBDCDC;
  border-radius: 10px;
  padding: 16px;
  overflow: auto;
  min-height:400px;
  height: 350px;
}

.Company-new-details{
  background: #DBDCDC;
  border-radius: 10px;
  margin: 10px 0 0 0 ; 
  overflow: auto;
  height: 340px;
}


.Company-new-details::-webkit-scrollbar {
  width: 1em;
  }
  
  .Company-new-details::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  .Company-new-details::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: 1px solid #222;
  }


.bottom-border{
  border-bottom:solid 1px #333;
}
.bottom-border:last-child{
  border-bottom:none; 
}
.all-praghrph{ 
font-size: 14px;
line-height: 1.42857143;
color:#222;
  }

.placeholder h4, .Company-new-details h4{
 margin:0 0 0 0;
 color: #fff;
 text-align: left;
 padding: 20px;
 font-weight: bold;  
  }
  
.Company-new-details H4{
 color:#0D0D0D 
  }

.gray-btn{
color: darkcyan !important;
background: blue;
border: solid 1px  darkcyan !important;
  }
 
.placeholder .round-c{
  border-radius: 40px;
}

.list-support p{
  color:#fff;
  font-size: 16px;
}


 @media only screen and (max-width: 767px) {
            .set-pd-one img {
              width: 80%;
            }

            .search-bar {
              min-width: auto;
            }

            .main {
              margin-top: 40px;
            }
          }


  @media only screen and (max-width: 767px) {
    .set-pd-one img {
      width: 80%;
    }

    .search-bar {
      min-width: auto;
    }

    .main {
      margin-top: 40px;
    }
  }